body {
  box-sizing: border-box;
  background-color: #111827;
  color: #f4f4f5;
  max-width: 1000px;
  margin: auto;
}

.NavTab {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.Heading1 {
  text-align: center;
  color: #d4d4d8;
  text-shadow: 1px 1px 1px #f4f4f5;
  transition: all 0.5s ease-in-out;
}

.Heading1:hover {
  color: #f4f4f5;
  text-shadow: 1px 1px 1px #d4d4d8;
  transition: all 0.5s ease-in-out;
  font-size: 3.5rem;
}

.Heading2 {
  text-align: center;
  color: #d4d4d8;
  text-shadow: 1px 1px 1px #f4f4f5;
}

.Heading2:hover {
  color: #f4f4f5;
  text-shadow: 1px 1px 1px #d4d4d8;
}

.Heading3 {
  text-align: center;
  color: #d4d4d8;
  text-shadow: 1px 1px 1px #f4f4f5;
}

.Heading3:hover {
  color: #f4f4f5;
  text-shadow: 1px 1px 1px #d4d4d8;
}

.Students {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  border: 1px solid #d4d4d8;
  border-style: dotted;
  border-radius: 1.2rem;
  flex-flow: row;
  /* flex-wrap: wrap; */
}

.IPPara {
  text-align: center;
}
